<div class="container">
  <div class="row">
    <div class ="col-2"></div>

    <div class ="col-8">
      <h1>My Policies</h1>
      <div class="d-flex">

      <ul class = "mt-3 list-group list-group-horizontal mx-auto">
        <li class="list-group-item m-1" *ngFor="let rule of rules">
          <div class="card" >
            <div class="list-group-horizontal">
              <img class = "m-3" width ="50px" height = "50px" src="assets/images/channels/{{rule.trigger.service.image}}" alt="{{rule.trigger.service.name}}">
              <img class = "m-3" width ="50px" height = "50px" src="assets/images/channels/{{rule.action.service.image}}" alt="{{rule.action.service.name}}">
            </div>
            <div class="card-body">
              <h5 class="card-title">WHEN THIS HAPPENS:</h5>
              <span class="card-text">{{rule.trigger.name}}</span>
              <div *ngIf="rule.trigger.details">
                <div *ngFor="let detail of rule.trigger.details;let last = last; let first = first" >
                  <span>{{detail.name}}:</span><span *ngIf="detail.value.name"> {{detail.value.name}}</span><span *ngIf="!detail.value.name"> {{detail.value}}</span>
                </div>
              </div>
              <h5 class="mt-3 card-title">THEN EXECUTE THIS:</h5>
              <span class="card-text">{{rule.action.name}}</span>
              <div *ngIf="rule.action.details">
                <div *ngFor="let detail of rule.action.details;let last = last; let first = first" >
                  <span>{{detail.name}}:</span><span *ngIf="detail.value.name"> {{detail.value.name}}</span><span *ngIf="!detail.value.name"> {{detail.value}}</span>
                </div>
              </div>

              <button (click) = "translate(rule)" class="mt-3 btn btn-primary">TRANSLATE</button>
              <button (click) = "check(rule)" class="m-1 btn btn-secondary">CHECK</button>
              <button (click) = "deleteRule(rule)" class="m-1 btn btn-danger">DELETE</button>

            </div>
          </div>
        </li>
      </ul>
      </div>
    </div>
    <div class ="col-2"></div>

  </div>  
</div>

