.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #000000;

  text-align: center;

  border-radius: .5em;
}

li {cursor: pointer}

.list-group {
    display: grid !important;
    grid-template-columns: repeat(3, 1fr);
  }
  
  .list-group-item {
    background: #F7F7F7;
    padding: 1em;
    text-align: center;
  }
.container:hover .overlay {
  opacity: 0.7;
}
a {cursor: pointer}

.text {
  color: white;
  font-size: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}
