
<div class="container">
  <div class="row">
    <div class ="col-2"></div>

    <div class ="col-8">
      <a (click)="goBack()" class="back">Back</a>
      <h1>Choose Trigger</h1>
      <span >
        Step 2 of 6
      </span>
 
      <div>
        <ul class = "mt-3 list-group list-group-horizontal">
          <li (click) = "selectTrigger(trigger)" class="m-1 list-group-item" *ngFor="let trigger of triggers" [ngStyle]="{'background-color': triggerService.color}">
            <h5 class = "mt-3  text-white">{{trigger.name}}</h5>
            <p class = "mt-3  text-white">{{trigger.description}}</p>
          </li>

        </ul>
      </div>
    </div>
    <div class ="col-2"></div>

  </div>  
</div>
