
  <h1 class="display-5 fw-bold">This is the PTP module interface</h1>
  <div class="col-lg-6 mx-auto">
    <p class="lead mb-4">We translate high-level policies into XACML configurations by exploiting the Semantic Web Framework</p>
    <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
      <a type="button" href = "/composition/sifis/list" class="btn btn-primary btn-lg px-4 gap-3">Create a Policy</a>
      <a type="button" href = "/composition/sifis/list" class="btn btn-outline-secondary btn-lg px-4">View Your Policies</a>
    </div>
  </div>


