<div class="container">
  <div class="row">
    <div class ="col-2"></div>

    <div class ="col-8">
      <a (click)="goBack()" class="back">Back</a>
      <h1>Review and Finish</h1>
      <span >
        Step 6 of 6
      </span>
      
      <div class="card w-50 mx-auto" >
        <div class="list-group-horizontal">
          <img class = "m-3" width ="100px" height = "100px" src="assets/images/channels/{{triggerService.image}}" alt="{{triggerService.name}}">
          <img class = "m-3" width ="100px" height = "100px" src="assets/images/channels/{{actionService.image}}" alt="{{actionService.name}}">
        </div>
        <div class="card-body">
          <h5 class="card-title">WHEN THIS HAPPENS:</h5>
          <p class="card-text">{{trigger.name}}<br>({{triggerDetailsStr}})</p>
          <h5 class="card-title">THEN EXECUTE THIS:</h5>
          <p class="card-text">{{action.name}}<br>({{actionDetailsStr}})</p>

          <a (click) = "completeRule()" class="btn btn-primary">FINISH</a>
        </div>
      </div>
      
    </div>
    <div class ="col-2"></div>

  </div>  
</div>



