li {cursor: pointer}
a {cursor: pointer}

.list-group {
    display: grid !important;
    grid-template-columns: repeat(3, 1fr);
  }
  
  .list-group-item {
    background: #F7F7F7;
    padding: 1em;
    text-align: center;
  }