<div class="container">
 
  <div class="row">
    <div class ="col-2"></div>

    <div class ="col-8">

      <div class="card w-50 mx-auto" >
        <div class="list-group-horizontal">
          <img class = "m-3" width ="100px" height = "100px" src="assets/images/channels/{{rule.trigger.service.image}}" alt="{{rule.trigger.service.name}}">
          <img class = "m-3" width ="100px" height = "100px" src="assets/images/channels/{{rule.action.service.image}}" alt="{{rule.action.service.name}}">
        </div>
        <div class="card-body">
          <h5 class="card-title">WHEN THIS HAPPENS:</h5>
          <span class="card-text">{{rule.trigger.name}}</span>
          <div *ngIf="rule.trigger.details">
            <div *ngFor="let detail of rule.trigger.details;let last = last; let first = first" >
              <span>{{detail.name}}:</span><span *ngIf="detail.value.name"> {{detail.value.name}}</span><span *ngIf="!detail.value.name"> {{detail.value}}</span>
            </div>
          </div>
          <h5 class="mt-3 card-title">THEN EXECUTE THIS:</h5>
          <span class="card-text">{{rule.action.name}}</span>
          <div *ngIf="rule.action.details">
            <div *ngFor="let detail of rule.action.details;let last = last; let first = first" >
              <span>{{detail.name}}:</span><span *ngIf="detail.value.name"> {{detail.value.name}}</span><span *ngIf="!detail.value.name"> {{detail.value}}</span>
            </div>
          </div>

        </div>
      </div>

      <h1>The selected policy might generate some problems</h1>

      <span>
      Are you sure you want to keep it?
      </span>
     
      <div *ngIf="ruleProblems && ruleProblems.loops">

        <h3>It could execute the following <span class="badge alert-danger">LOOPS</span></h3>
        <div *ngFor="let loopRules of ruleProblems.loops;let lastLoop = last">
          <div class="d-flex">

          <ul class = "mt-3 list-group list-group-horizontal mx-auto">
            <li class="list-group-item m-1" *ngFor="let rule of loopRules;let last = last">
              <div class="card" >
                <div class="list-group-horizontal">
                  <img class = "m-3" width ="100px" height = "100px" src="assets/images/channels/{{rule.trigger.service.image}}" alt="{{rule.trigger.service.name}}">
                  <img class = "m-3" width ="100px" height = "100px" src="assets/images/channels/{{rule.action.service.image}}" alt="{{rule.action.service.name}}">
                </div>
                <div class="card-body">
                  <h5 class="card-title">WHEN THIS HAPPENS:</h5>
                  <span class="card-text">{{rule.trigger.name}}</span>
                  <div *ngIf="rule.trigger.details">
                    <div *ngFor="let detail of rule.trigger.details;let last = last; let first = first" >
                      <span>{{detail.name}}:</span><span *ngIf="detail.value.name"> {{detail.value.name}}</span><span *ngIf="!detail.value.name"> {{detail.value}}</span>
                    </div>
                  </div>
                  <h5 class="mt-3 card-title">THEN EXECUTE THIS:</h5>
                  <span class="card-text">{{rule.action.name}}</span>
                  <div *ngIf="rule.action.details">
                    <div *ngFor="let detail of rule.action.details;let last = last; let first = first" >
                      <span>{{detail.name}}:</span><span *ngIf="detail.value.name"> {{detail.value.name}}</span><span *ngIf="!detail.value.name"> {{detail.value}}</span>
                    </div>
                  </div>
        
                </div>
              </div>
            </li>

          </ul>
          </div>
          <div class ="p-3">
            <button type="button" class="m-1 btn btn-success" (click) = "loop = true; inconsistent = false; redundant = false; setEnabled(loopRules); openExplanation(); "> Explanation</button>
            <button type="button" class="m-1 btn btn-danger" (click) = "deleteRule()">Delete Rule</button>
          </div>
        </div>
      </div>

      <div *ngIf="ruleProblems && ruleProblems.inconsistentRules">

        <h3>It could execute the following <span class="badge alert-danger">INCONSISTENT</span> policies</h3>
        <div *ngFor="let inconsistentRules of ruleProblems.inconsistentRules; let lastInconsistent = last">
          <div class="d-flex">

          <ul class = "mt-3 list-group list-group-horizontal mx-auto">
            <li class="list-group-item m-1" *ngFor="let rule of inconsistentRules;let last = last">
              <div class="card" >
                <div class="list-group-horizontal">
                  <img class = "m-3" width ="100px" height = "100px" src="assets/images/channels/{{rule.trigger.service.image}}" alt="{{rule.trigger.service.name}}">
                  <img class = "m-3" width ="100px" height = "100px" src="assets/images/channels/{{rule.action.service.image}}" alt="{{rule.action.service.name}}">
                </div>
                <div class="card-body">
                  <h5 class="card-title">WHEN THIS HAPPENS:</h5>
                  <span class="card-text">{{rule.trigger.name}}</span>
                  <div *ngIf="rule.trigger.details">
                    <div *ngFor="let detail of rule.trigger.details;let last = last; let first = first" >
                      <span>{{detail.name}}:</span><span *ngIf="detail.value.name"> {{detail.value.name}}</span><span *ngIf="!detail.value.name"> {{detail.value}}</span>
                    </div>
                  </div>
                  <h5 class="mt-3 card-title">THEN EXECUTE THIS:</h5>
                  <span class="card-text">{{rule.action.name}}</span>
                  <div *ngIf="rule.action.details">
                    <div *ngFor="let detail of rule.action.details;let last = last; let first = first" >
                      <span>{{detail.name}}:</span><span *ngIf="detail.value.name"> {{detail.value.name}}</span><span *ngIf="!detail.value.name"> {{detail.value}}</span>
                    </div>
                  </div>
        
                </div>
              </div>
            </li>

          </ul>
          </div>
          <div class ="p-3">
            <button type="button" class="m-1 btn btn-success" (click) = "loop = false; inconsistent = true; redundant = false; setEnabled(inconsistentRules); openExplanation(); "> Explanation</button>
            <button type="button" class="m-1 btn btn-danger" (click) = "deleteRule()">Delete Rule</button>
          </div>
        </div>
      </div>

      <div *ngIf="ruleProblems && ruleProblems.redundantRules">

        <h3>It could execute the following <span class="badge alert-danger">REDUNDANT</span> policies</h3>
        <div *ngFor="let redundantRules of ruleProblems.redundantRules; let lastRedundant = last">
          <div class="d-flex">

          <ul class = "mt-3 list-group list-group-horizontal mx-auto">
            <li class="list-group-item m-1" *ngFor="let rule of redundantRules;let last = last">
              <div class="card" >
                <div class="list-group-horizontal">
                  <img class = "m-3" width ="100px" height = "100px" src="assets/images/channels/{{rule.trigger.service.image}}" alt="{{rule.trigger.service.name}}">
                  <img class = "m-3" width ="100px" height = "100px" src="assets/images/channels/{{rule.action.service.image}}" alt="{{rule.action.service.name}}">
                </div>
                <div class="card-body">
                  <h5 class="card-title">WHEN THIS HAPPENS:</h5>
                  <span class="card-text">{{rule.trigger.name}}</span>
                  <div *ngIf="rule.trigger.details">
                    <div *ngFor="let detail of rule.trigger.details;let last = last; let first = first" >
                      <span>{{detail.name}}:</span><span *ngIf="detail.value.name"> {{detail.value.name}}</span><span *ngIf="!detail.value.name"> {{detail.value}}</span>
                    </div>
                  </div>
                  <h5 class="mt-3 card-title">THEN EXECUTE THIS:</h5>
                  <span class="card-text">{{rule.action.name}}</span>
                  <div *ngIf="rule.action.details">
                    <div *ngFor="let detail of rule.action.details;let last = last; let first = first" >
                      <span>{{detail.name}}:</span><span *ngIf="detail.value.name"> {{detail.value.name}}</span><span *ngIf="!detail.value.name"> {{detail.value}}</span>
                    </div>
                  </div>
        
                </div>
              </div>
            </li>

          </ul>
          </div>
          <div class ="p-3">
            <button type="button" class="m-1 btn btn-success" (click) = "loop = false; inconsistent = false; redundant = true; setEnabled(redundantRules); openExplanation(); "> Explanation</button>
            <button type="button" class="m-1 btn btn-danger" (click) = "deleteRule()">Delete Rule</button>
          </div>
        </div>

      </div>
    </div>
    <div class ="col-2"></div>
  </div>
</div>
